_site
*.aux
*.log
*.synctex.gz
.DS_Store
textbook-sourcecode
*#
/sp13-cs-2550-001-peeler/assignment-01-class-diagram-to-javadoc/ClassDiagramToJavadoc/nbproject/private/
/sp13-cs-2550-001-peeler/assignment-01-class-diagram-to-javadoc/ClassDiagramToJavadoc/build/
/sp13-cs-2550-001-peeler/assignment-01-class-diagram-to-javadoc/ClassDiagramToJavadoc/dist/
/sp13-cs-2550-001-peeler/assignment-02-payroll-system-modification/PayrollSystemModification/nbproject/private/
/sp13-cs-2550-001-peeler/assignment-02-payroll-system-modification/PayrollSystemModification/build/
/sp13-cs-2550-001-peeler/assignment-02-payroll-system-modification/PayrollSystemModification/dist/
/sp13-cs-2550-001-peeler/assignment-03-distance-class/DistanceClass/nbproject/private/
/sp13-cs-2550-001-peeler/assignment-03-distance-class/DistanceClass/build/
/sp13-cs-2550-001-peeler/assignment-03-distance-class/DistanceClass/dist/
/sp13-cs-2550-001-peeler/assignment-03-distance-class/TelephoneNumberWordGenerator/nbproject/private/
/sp13-cs-2550-001-peeler/assignment-03-distance-class/TelephoneNumberWordGenerator/build/
/sp13-cs-2550-001-peeler/assignment-03-distance-class/TelephoneNumberWordGenerator/dist/
/sp13-cs-2420-003-baird/project-01-unit-testing/UnitTesting/nbproject/private/
/sp13-cs-2420-003-baird/project-01-unit-testing/UnitTesting/build/
/sp13-cs-2420-003-baird/project-01-unit-testing/UnitTesting/dist/
/sp13-cs-2420-003-baird/project-02-basic-list-operations-arrays/BasicListOperationsArrays/nbproject/private/
/sp13-cs-2420-003-baird/project-02-basic-list-operations-arrays/BasicListOperationsArrays/build/
/sp13-cs-2420-003-baird/project-02-basic-list-operations-arrays/BasicListOperationsArrays/dist/
/sp13-cs-2420-003-baird/project-03-generic-single-linked-list/GenericSingleLinkedList/nbproject/private/
/sp13-cs-2420-003-baird/project-03-generic-single-linked-list/GenericSingleLinkedList/build/
/sp13-cs-2420-003-baird/project-03-generic-single-linked-list/GenericSingleLinkedList/dist/
/sp13-cs-2420-003-baird/project-03-generic-single-linked-list/TelephoneNumberWordGenerator/nbproject/private/
/sp13-cs-2420-003-baird/project-03-generic-single-linked-list/TelephoneNumberWordGenerator/build/
/sp13-cs-2420-003-baird/project-03-generic-single-linked-list/TelephoneNumberWordGenerator/dist/