<!doctype html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/slcc-eportfolio/assets/styles.css" />

  </head>
  <body>
    <div id="main">
      <header>
	<h1><a href="/slcc-eportfolio/index.html">Paul English - SLCC ePortfolio Home</a></h1>
	<h2>{{page.title}}</h2>
      </header>

      <article>
	{{content}}
      </article>

      <footer>
        <!--
	      <a href="https://github.com/nrub/slcc-eportfolio">
          <img style="position: absolute;top:0;right:0;border:0;"
               src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
               alt="Fork me on GitHub">
        </a>
        -->
      </footer>

      <!--
      <script src="/slcc-eportfolio/assets/canvas-fun.js"></script>
      -->
      <script type="text/javascript">
        (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");
        b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
        '//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';d=c.getElementsByTagName("script")[0];
        d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
        var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
        Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
        f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
        'track_forms','register','register_once','unregister','identify','alias','name_tag',
        'set_config','people.set','people.increment','people.track_charge','people.append'];
        for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.2;})(document,window.mixpanel||[]);
                    mixpanel.init("5506ddb58f9633d61f084e026ab00751");
                    if (window.location.hostname !== "localhost") mixpanel.track("page-loaded", {path: window.location.pathname, href: window.location.href, hash: window.location.hash});
      </script>

    </div>
  </body>
</html>
